AnimationDescriptor(
    source_sprite: "adventurer.png",
    animations: {
        "idle": SpriteAnimation(
            length: 1.0,
            first_frame: 0,
            frame_count: 1,
            looping: true,
        ),
    },
    frame_size: (50., 37.),
    columns: 7,
    rows: 11,
)